fastapi==0.116.1
uvicorn[standard]==0.35.0

pydantic==2.11.7
pydantic-settings==2.10.1

python-dotenv==1.1.1

httpx==0.28.1

langchain==0.3.27
langchain-community==0.3.27
langchain-chroma==0.2.5
langchain-huggingface==0.3.1

chromadb==1.0.15

sentence-transformers==5.0.0
transformers==4.53.2
torch

groq==0.31.0

pandas==2.3.1
numpy==2.3.2

orjson==3.11.1

python-multipart==0.0.20

loguru==0.7.3

tqdm==4.67.1